---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ persistent_volume_claim_name }}"
spec:
  storageClassName: "{{ storage_class_name }}"
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: "{{ microk8s_PVC_file_content.metadata.size }}"
{% if microk8s_PVC_file_content.metadata.volume.name is defined %}
  volumeName: {{ microk8s_PVC_file_content.metadata.volume.name }}
{% endif %}